<article>
  <h2>One Component. Any Device.</h2>
  <p>
    As firm believers in the DRY principle (don't repeat yourself) we like to
    reuse as many things as possible. Even copy and paste is too much work for
    us. Content should be easier to get onto current platforms without
    significant technical overhead.
  </p>
  <p>
    Have content you want to get on Windows, macOS, or Linux? How about Android
    or iOS?
  </p>
</article>

<aside>
  <section class="stores">
    <img src="assets/stores/apple.svg" alt="Apple" width="100" />
    <img src="assets/stores/microsoft.svg" alt="Microsoft" width="100" />
    <img src="assets/stores/android.svg" alt="Android" width="100" />
  </section>
</aside>
