<article>
  <h2>Build Angular Components. Ship Web Components.</h2>
  <p>
    As firm believers in the DRY principle (don't repeat yourself) we like to
    reuse as many things as possible. Even copy and paste is too much work for
    us.
  </p>
  <p>
    Our goal is to bolster the existing set of elements (HTML) using Angular to
    enhance both the element and the development.
  </p>
  <p>
    Form inputs seem to be the most problematic components to use and develop so
    we'll start with those.
  </p>
</article>

<aside>
  <section class="stores">
    <img src="assets/icons/agnui.svg" alt="AGNUI" width="100%" />
  </section>
</aside>
