<article>
  <h2>Build Unbranded Angular Solutions</h2>
  <p>
    As firm believers in the DRY principle (don't repeat yourself) we like to
    reuse as many things as possible. Even copy and paste is too much work for
    us.
  </p>
  <p>
    The goal is simply to create ready-to-go, plug-and-play solutions that other
    developers can add into their projects using <code>ng-add</code>.
  </p>
</article>

<aside>
  <section>
    <img src="app-icon.svg" alt="AGNUI" width="100%" />
  </section>
</aside>
