:host {
  display: block;

  section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  article {
    margin-bottom: 1rem;

    a h2 {
      color: black;
    }

    a time {
      color: darkgray;
    }
  }
}
