<h1>AGNUI</h1>
<p>They built it. Time for you to show up! Ready to reach your audience?</p>
<section>
    <img src="assets/stores/roku.svg" alt="Roku" width="100">
    <img src="assets/stores/android.svg" alt="Android" width="100">
    <img src="assets/stores/apple.svg" alt="Apple" width="100">
    <img src="assets/stores/microsoft.svg" alt="Microsoft" width="100">
    <img src="assets/stores/xbox.svg" alt="Xbox" width="100">
    <img src="assets/stores/playstation.svg" alt="PlayStation" width="100">
    <img src="assets/stores/webos.svg" alt="webOS" width="100">
</section>