@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro&display=swap');

:root {
  --bs-primary: #ff6600;
  --bs-primary-rgb: 255, 102, 0;
  --bs-font-sans-serif: 'Source Sans Pro', sans-serif;
  --bs-body-font-weight: 400;
  --spacer: 1ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
